{
  "root": true,
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
